header{
    background-image: url("médias/vertbg.jpg");
    margin: 0;
    padding: 2%;
}
nav li{
    list-style-type:none ;
    padding:20px;
    word-spacing: 1%;
    display:inline-flex;
    float: right;
}
body{
    background-color:beige;
    margin:0%;
    padding:0;
    color:darkolivegreen;
}

h1{
    font-family: Math;
    color: darkolivegreen;
    margin: 10px;

}
b{
    background-color:darkred;

}
p{
    text-align: center;
}
header a{
    float: right;
    color: darkolivegreen;
    border-spacing: 1;
}
div{
    border-color:darkblue;
}
a:hover{
    color:darkolivegreen;
}
header a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: darkolivegreen; 
    color: white;
    border: 1px solid gray;
    border-style:ridge;
    border-radius: 20px;
    }
@media screen and(max-width:470px){
    nav{
        display: flex;
        flex-direction: row;
    }
    
    header  a{
        font-size: 1rem;
        display:flex;
        margin-bottom: 1rem;
    }
    body{
        font-size: 1.3rem;
        display:flex;
        justify-content: center;
    }
}
